AL/Service References/AL_Service/AL_SERVICE.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AL_SERVICE" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AL_SERVICE" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfGroupInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GroupInfo" nillable="true" type="tns:GroupInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGroupInfo" nillable="true" type="tns:ArrayOfGroupInfo" />
  <xs:complexType name="GroupInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="GI_CreateDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="GI_ID" type="xs:int" />
      <xs:element minOccurs="0" name="GI_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GI_Remark" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GI_UI_ID" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GroupInfo" nillable="true" type="tns:GroupInfo" />
  <xs:complexType name="UserInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="UI_CreateDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UI_HeadImg" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UI_ID" type="xs:int" />
      <xs:element minOccurs="0" name="UI_IsOk" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="UI_IsVip" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="UI_Nike" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UI_Number" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UI_Pass" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UI_Remark" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UI_Sex" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="UI_State" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserInfo" nillable="true" type="tns:UserInfo" />
</xs:schema>