AL/Service References/AL_Service/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AL_Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IAL_Service_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256>
                </sp:Basic256>
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict>
                </sp:Strict>
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/AL_SERVICE.DTO" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/AL_SERVICE" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAL_Service_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IAL_Service_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IAL_Service_SendMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:SendMessage" />
  </wsdl:message>
  <wsdl:message name="IAL_Service_SendMessage_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendMessageResponse" />
  </wsdl:message>
  <wsdl:message name="IAL_Service_Register_InputMessage">
    <wsdl:part name="parameters" element="tns:Register" />
  </wsdl:message>
  <wsdl:message name="IAL_Service_Register_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterResponse" />
  </wsdl:message>
  <wsdl:message name="IAL_Service_Login_Prompt_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:Login_Prompt" />
  </wsdl:message>
  <wsdl:message name="IAL_Service_Message_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:Message" />
  </wsdl:message>
  <wsdl:message name="IAL_Service_LogoutMessa_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:LogoutMessa" />
  </wsdl:message>
  <wsdl:portType name="IAL_Service">
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IAL_Service/Login" message="tns:IAL_Service_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAL_Service/LoginResponse" message="tns:IAL_Service_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendMessage">
      <wsdl:input wsaw:Action="http://tempuri.org/IAL_Service/SendMessage" message="tns:IAL_Service_SendMessage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAL_Service/SendMessageResponse" message="tns:IAL_Service_SendMessage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Register">
      <wsdl:input wsaw:Action="http://tempuri.org/IAL_Service/Register" message="tns:IAL_Service_Register_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAL_Service/RegisterResponse" message="tns:IAL_Service_Register_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Login_Prompt">
      <wsdl:output wsaw:Action="http://tempuri.org/IAL_Service/Login_Prompt" message="tns:IAL_Service_Login_Prompt_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="Message">
      <wsdl:output wsaw:Action="http://tempuri.org/IAL_Service/Message" message="tns:IAL_Service_Message_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="LogoutMessa">
      <wsdl:output wsaw:Action="http://tempuri.org/IAL_Service/LogoutMessa" message="tns:IAL_Service_LogoutMessa_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IAL_Service" type="tns:IAL_Service">
    <wsp:PolicyReference URI="#NetTcpBinding_IAL_Service_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="Login">
      <soap12:operation soapAction="http://tempuri.org/IAL_Service/Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMessage">
      <soap12:operation soapAction="http://tempuri.org/IAL_Service/SendMessage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Register">
      <soap12:operation soapAction="http://tempuri.org/IAL_Service/Register" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login_Prompt">
      <soap12:operation soapAction="http://tempuri.org/IAL_Service/Login_Prompt" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Message">
      <soap12:operation soapAction="http://tempuri.org/IAL_Service/Message" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogoutMessa">
      <soap12:operation soapAction="http://tempuri.org/IAL_Service/LogoutMessa" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AL_Service">
    <wsdl:port name="NetTcpBinding_IAL_Service" binding="tns:NetTcpBinding_IAL_Service">
      <soap12:address location="net.tcp://localhost:8089/Design_Time_Addresses/AL_SERVICE/AL_Service/" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8089/Design_Time_Addresses/AL_SERVICE/AL_Service/</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>